# dont ignore this file
!.gitignore

# targets and logs
techreport/*.pdf
techreport/*.aux
techreport/*.log
techreport/*.out

# datasets
tests/*.RDS

# pkgdown documentation
docs/*

# compiled code and shared objects
src/*.so
src/*.o

# tests
tests/testthat.R
tests/testthat/*


